.booking-page #calendar {
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 15px;
  border: 2px solid #d6e8c4;
  min-height: 700px;
}

.booking-page form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #d6e8c4;
}
