body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #f8f9fa;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #007acc;
  margin-bottom: 2rem;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-height: 650px;
}

.fc-event {
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}
